<!-- FIXME: 2nd Level (Mobile) -->
<li>
  <details>
    <summary>Area Navigation</summary>
    <ul class="p-2">
      <li onclick="zoomTo('Dhaka')">
        <a class="item" href="#">Dhaka</a>
      </li>
      <li onclick="zoomTo('Sylhet')">
        <a class="item" href="#">Sylhet</a>
      </li>
      <li onclick="zoomTo('Thakurgaon')">
        <a class="item" href="#">Thakurgaon</a>
      </li>
      <li onclick="zoomTo('CoxBazar')">
        <a class="item" href="#">Cox's Bazar</a>
      </li>
      <li onclick="zoomTo('SaintMartin')">
        <a class="item" href="#">Saint Martin</a>
      </li>
      <li onclick="zoomTo('vietnam')">
        <a class="item" href="#">vietnam</a>
      </li>
      <li onclick="zoomTo('Makkah')">
        <a class="item" href="#">Makkah</a>
      </li>
      <li onclick="zoomTo('Madina')">
        <a class="item" href="#">Madina</a>
      </li>
      <li onclick="zoomTo('Taif')">
        <a class="item" href="#">Taif</a>
      </li>
    </ul>
  </details>
</li>
<!-- FIXME: 2nd Level (Mobile) End -->
