 {% load static %}
  <li><a class="item" href="{% url 'timeline:time_line' %}">Timeline</a></li>
  <li><a class="item" href="{% url 'gallery:gallery_map' %}">Gallery</a></li>
  <li><a class="item" href="{% url 'locations:google_photos' %}">Google Photos</a></li>
  <li><a class="item" href="{% url 'locations:google_photos' %}?is_video=1">Timeline Videos</a></li>
  <li><a class="item" href="{% url 'locations:people_images' %}">People</a></li>
  <li><a class="item" href="{% url 'locations:slideshow' %}">Slide Show</a></li>
  <li><a class="item" href="{% url 'locations:image_with_description' %}">First Digital Camera</a></li>
  <li><a class="item" href="{% url 'locations:people_videos' %}">Videos</a></li>
  <li><a class="item" href="{% url 'locations:people_videos_short' %}">Short Videos</a></li>
  <li><a class="item" href="{% url 'locations:location_album_urls' %}">Tour Albums</a></li>