<!-- FIXME: Top Level Item 2 (with 2nd level dropdown) -->
<li class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-sm btn-ghost mt-0.5">
    Area Navigation<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
    </svg>
  </div>
  <ul class="dropdown-content z-[1] menu p-1 shadow bg-base-100 rounded-box w-52 mt-4">
    <li onclick="zoomTo('Dhaka')">
      <a class="item" href="#">Dhaka</a>
    </li>
    <li onclick="zoomTo('Sylhet')">
      <a class="item" href="#">Sylhet</a>
    </li>
    <li onclick="zoomTo('Thakurgaon')">
      <a class="item" href="#">Thakurgaon</a>
    </li>
    <li onclick="zoomTo('CoxBazar')">
      <a class="item" href="#">Cox's Bazar</a>
    </li>
    <li onclick="zoomTo('SaintMartin')">
      <a class="item" href="#">Saint Martin</a>
    </li>
    <li onclick="zoomTo('vietnam')">
      <a class="item" href="#">vietnam</a>
    </li>
    <li onclick="zoomTo('Makkah')">
      <a class="item" href="#">Makkah</a>
    </li>
    <li onclick="zoomTo('Madina')">
      <a class="item" href="#">Madina</a>
    </li>
    <li onclick="zoomTo('Taif')">
      <a class="item" href="#">Taif</a>
    </li>
  </ul>
</li>
<!-- FIXME: Top Level Item 2 (with 2nd level dropdown) End -->
