{% extends 'navbar.html' %}
    
    {% block extranav %}
<button onclick="zoomTo('Dhaka')" class="text-xs text-gray hover:text-blue-300 transition-colors uppercase font-medium">
      Dhaka
    </button>
    <button onclick="zoomTo('Sylhet')" class="text-xs text-gray hover:text-blue-300 transition-colors uppercase font-medium">
      Sylhet
    </button>
    <button onclick="zoomTo('Thakurgaon')" class="text-xs text-gray hover:text-blue-300 transition-colors uppercase font-medium">
      Thakurgaon
    </button>
    <button onclick="zoomTo('vietnam')" class="text-xs text-gray hover:text-blue-300 transition-colors uppercase font-medium">
      vietnam
    </button>
    <div class="badge badge-soft badge-success">
      Nos. of Images : <span id='count' class="text-red-300">{{total_place}}</span>
    </div>
    {% endblock extranav %}