<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Document</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'upload' %}">Upload Images</a>
<div id="map" style="height: 600px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([20, 0], 2); // World view
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    // Loop through the data passed from Django
    {% for item in media_items %}
        {% if item.latitude and item.longitude %}
            var marker = L.marker([{{ item.latitude }}, {{ item.longitude }}]).addTo(map);
            marker.bindPopup(`
                <b>{{ item.timestamp }}</b><br>
                <img src="{{ item.image.url }}" width="300px">
            `);
        {% endif %}
    {% endfor %}
</script>
</body>
</html>