{% load static %}
<div
  id="my_main_navbar"
  class="z-1000 h-8 min-h-fit
         fixed top-0 left-0 w-full transition-transform duration-300"
>
  <!-- your existing content -->

<div
  class="navbar bg-blue-400 !bg-opacity-50 text-primary-content mb-1 shadow-lg z-1000 h-8 min-h-fit"
  data-theme="dark"
>
  <div class="navbar-start h-full">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-xs lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
       <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
     {% include 'navbar_includes/navbar_start.html' %}
    {% block extranav_start %}
    {% endblock extranav_start %}
    </ul>
  </div>
    <a
      class="btn btn-ghost btn-sm text-lg font-bold hidden lg:flex md:flex exo2bold"
      href="/"
      >
      <img src=" {% static 'images/MS_1.svg' %}" width="20" height="20" alt="MS">
     </a
    >
    <a class="btn btn-ghost btn-sm text-xl lg:hidden md:hidden CompanyNameFont">MS</a>
  </div>

  <div class="navbar-center hidden lg:flex h-full">
    <ul class="menu menu-horizontal p-0 m-0">
    {% include 'navbar_includes/navbar_center.html' %}
    {% block extranav_center %}
    {% endblock extranav_center %}
    </ul>
  </div>

  <div class="navbar-end h-full">
    <div class="group dropdown dropdown-end flex">
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-12 w-52 p-2 shadow"
      >
        {% include 'navbar_includes/navbar_end.html' %}
      </ul>
      {% block extranav_end %}
      {% endblock extranav_end %}
    </div>
  </div>
</div>
</div>
