{% extends 'navbar.html' %}
      {% block extranav_start %}
<li onclick="zoomTo('Dhaka')" >
      <a class="item" href="#">Dhaka</a>
    </li>
    <li onclick="zoomTo('Sylhet')" >
      <a class="item" href="#">Sylhet</a>
    </li>
    <li onclick="zoomTo('Thakurgaon')" >
      <a class="item" href="#">Thakurgaon</a>
    </li>
    <li onclick="zoomTo('vietnam')" >
      <a class="item" href="#">vietnam</a>
    </li>
    <li onclick="zoomTo('Makkah')" >
      <a class="item" href="#">Makkah</a>
    </li>
    <li onclick="zoomTo('Madina')" >
      <a class="item" href="#">Madina</a>
    </li>
    <li onclick="zoomTo('Taif')" >
      <a class="item" href="#">Taif</a>
    </li>
    {% endblock extranav_start %}

    {% block extranav_center %}
<li onclick="zoomTo('Dhaka')" >
      <a class="item" href="#">Dhaka</a>
    </li>
    <li onclick="zoomTo('Sylhet')" >
      <a class="item" href="#">Sylhet</a>
    </li>
    <li onclick="zoomTo('Thakurgaon')" >
      <a class="item" href="#">Thakurgaon</a>
    </li>
    <li onclick="zoomTo('vietnam')" >
      <a class="item" href="#">vietnam</a>
    </li>
    <li onclick="zoomTo('Makkah')" >
      <a class="item" href="#">Makkah</a>
    </li>
    <li onclick="zoomTo('Madina')" >
      <a class="item" href="#">Madina</a>
    </li>
    <li onclick="zoomTo('Taif')" >
      <a class="item" href="#">Taif</a>
    </li>

    {% endblock extranav_center %}